.profile-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  padding: 20px;
  background-color: rgb(220, 196, 157);
  border: 4px solid rgb(4, 50, 64);
  border-radius: 8px;
  font-size: 26px;
}


.profile-card-wrapper > img {
    width: 150px;
}